.choiceRowTab1, .resReportYear1 {
  display: inline-block;
  border-radius: 4px;
  background: none;
  text-align: center;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 14px; }

.choiceRowTab1, .resReportYear1 {
  color: rgba(0, 0, 0, 0.38); }
  .choiceRowTab1:hover, .resReportYear1:hover {
    border: 1px solid #2196F3;
    color: #2196F3; }

.choiceTabActive1, .resReportYearSelected1 {
  background: #2196F3;
  color: #fff;
  font-weight: 500;
  border: 1px solid #2196F3; }
  .choiceTabActive1:hover, .resReportYearSelected1:hover {
    color: #fff;
    background: #0960a5;
    border: 1px solid #0960a5; }

.accountMenuRow1, .locationMenuRow1 {
  padding: 8px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54); }
  .accountMenuRow1:hover, .locationMenuRow1:hover {
    background: #fafafa;
    color: #2196F3;
    cursor: pointer; }

.activeAccountMenuRow1, .activeLocationMenuRow1 {
  color: #fff;
  background-color: #2196F3;
  font-weight: 500; }
  .activeAccountMenuRow1:hover, .activeLocationMenuRow1:hover {
    background: #0960a5;
    color: #fff; }

.listMenuGrid, .subreportTabBoxRow1, .menuHeader, .chartTitle, .monthSectionTitleBlack, .monthValueBlack, .captionCenteredGray {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 18px; }

body {
  font-family: "Open+Sans", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.618;
  margin: 0;
  background-color: #fafafa; }

main {
  margin: 0;
  transition: all 0.35s ease-in-out; }

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }

li {
  list-style: none; }

dt {
  margin: 24px 8px 4px;
  font-weight: 600;
  font-size: 14px; }

dd {
  -webkit-margin-start: 0;
  margin: 0 8px;
  font-size: 14px;
  line-height: 1.618;
  color: rgba(0, 0, 0, 0.54); }

img {
  max-width: 100%; }

hr {
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.38);
  padding: 0;
  margin: 8px 0; }

.menuOpenOpacity {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none; }

h1, p {
  max-width: 760px; }

h1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.3; }

h2 {
  font-weight: 500;
  font-size: 28px;
  color: #00BF83;
  margin: 0;
  margin-top: 8px; }
  h2 a {
    cursor: pointer;
    font-weight: 500;
    font-size: 28px;
    color: #00BF83;
    text-decoration: none; }
    h2 a:hover {
      color: #00BF83;
      font-weight: 400;
      opacity: .7; }

h3 {
  font-size: 21px;
  font-weight: 500;
  color: #00BF83; }

a {
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87); }

.text-body {
  margin-top: 16px; }
  .text-body a {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    border-bottom: 1px solid #link; }
    .text-body a:hover {
      color: #2196F3; }

.formLeftGray {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  line-height: 48px;
  display: inline-block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.formLeftBlack {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 48px;
  display: inline-block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.formRight {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  line-height: 48px;
  display: inline-block;
  text-align: right;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

button:focus {
  outline: 0; }

.columnButton {
  padding: 0;
  border: none;
  border-width: 0;
  border-style: none;
  border-color: none;
  display: block;
  max-width: 360px;
  height: 48px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  background: #2196F3;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer; }
  .columnButton:hover {
    background: #0960a5; }

.iconButtonContainer {
  padding: 0;
  border: none;
  background: transparent; }

.formButtonContainer {
  padding: 0;
  border: none;
  background: transparent;
  margin-left: 8px; }

.buttonContainerRight {
  padding: 0;
  width: 48px;
  height: 48px;
  border: none;
  background: transparent;
  margin-right: 8px;
  transition: all 300ms ease-in-out; }

.touchZone {
  height: 48px;
  width: 48px;
  transition: all 300ms ease-in-out; }
  .touchZone:hover {
    opacity: .6; }

.arrowTouchZone {
  height: 48px;
  width: 48px;
  border-radius: 4px;
  transition: all 300ms ease-in-out; }
  .arrowTouchZone.turnArrow {
    transform: rotate(-180deg); }

.refreshTouchZone {
  height: 48px;
  width: 48px;
  border-radius: 4px;
  transition: all .6s linear; }

.dashboardGrid {
  margin: 192px 24px 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;
  align-items: start; }

.reportHeader {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #C7C7CC;
  padding: 8px;
  max-height: 48px; }
  .reportHeader h2 {
    color: #2E578C;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    display: inline-block;
    line-height: 1;
    font-weight: 600; }
  .reportHeader p {
    color: #2E578C;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    display: inline-block;
    margin-left: 16px;
    font-weight: 300; }

.grayRow-white {
  color: #fff;
  padding: 8px;
  font-size: 14px;
  font-weight: 500; }

.grayDiv {
  background: #8E8E93;
  padding: 8px; }

#legend {
  grid-column: span 2; }
  #legend dl {
    background: #EEEEEE;
    padding-top: 2px;
    padding-bottom: 8px;
    -webkit-margin-before: 4px; }

.col-10 {
  grid-column: span 10;
  margin-bottom: 4px; }

.mainReportContainer {
  grid-column: span 10; }

.mainReport {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 0; }

.box2 {
  grid-column: 1/span 2;
  grid-row: 2/3;
  background: #EEEEEE;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4px;
  grid-auto-rows: minmax(40px, auto);
  padding: 8px 0; }

.listMenuGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(40px, auto); }

.box2a {
  grid-column: 1/span 2;
  grid-row: 3/4;
  background: #EEEEEE;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr; }

.tabRow {
  text-align: center;
  width: 100%;
  padding: 8px 4px; }

.box3 {
  grid-column: span 4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4px;
  grid-auto-rows: minmax(40px, auto);
  padding: 8px 0; }

.box4 {
  grid-column: span 2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4px;
  grid-auto-rows: minmax(40px, auto);
  padding: 8px 0; }

.box5 {
  grid-column: span 2;
  grid-row: 2/3;
  background-color: #2E578C; }

.box6 {
  grid-column: 1/span 10;
  grid-row: 3/4;
  background-color: #2E578C; }

.box7 {
  grid-column: 1/span 9;
  grid-row: 4/5;
  background-color: #EEEEEE; }

nav {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  background-color: #fafafa;
  z-index: 4;
  transition: all 300ms ease-in-out; }
  nav ul {
    padding-left: 24px; }
    nav ul li {
      list-style: none;
      display: block;
      padding: 16px;
      padding-left: 32px;
      font-size: 16px;
      transition: all 150ms ease-in-out; }
      nav ul li a {
        color: rgba(0, 0, 0, 0.87);
        font-weight: 600; }
      nav ul li:hover {
        background-color: rgba(33, 150, 243, 0.12); }

.open {
  left: 0px; }

.navIcon {
  padding: 16px 0 24px;
  display: flex;
  justify-content: center; }

.closeButton {
  margin: 16px;
  padding: 0;
  border: none;
  background: transparent; }

.currentPage {
  border-left: 4px solid #2196F3; }

.currentPageText {
  color: #2196F3; }

.bodyShift {
  transform: translateX(300px); }

.headerShift {
  transform: translateX(300px); }

header {
  position: fixed;
  top: 0;
  width: 100%; }

.headerRow {
  padding: 16px;
  background: rgba(250, 250, 250, 0.95);
  z-index: 3; }

.headerContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  margin: 0 auto;
  width: 1200px;
  z-index: 5; }

.logo {
  display: flex;
  justify-content: flex-start; }

.logoIcon {
  margin-right: 16px; }

.row1TabActive {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.tabText-active {
  text-align: center;
  font-size: 13px;
  color: #2196F3;
  text-transform: uppercase;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.signInBox {
  display: grid;
  border-margin-radius: 4px;
  grid-template-columns: repeat(4, 1fr) 48px;
  position: relative; }

.signInButton {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  border-width: 0;
  background-color: #2196F3; }
  .signInButton:hover {
    cursor: pointer;
    background-color: #0a6ebd; }

.signInLetter {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }

.scrollBorder {
  box-shadow: 0 7px 11px rgba(0, 0, 0, 0.1); }

.dropdownAccountInfo {
  background-color: #2E578C;
  margin-bottom: 16px; }

.signedInAs {
  padding: 16px 0 0 16px;
  font-size: 12px;
  margin-bottom: 4px;
  color: rgba(255, 255, 255, 0.7); }

.signInName {
  padding: 0 0 16px 16px;
  color: #fff;
  margin: 0; }

.signIn-1 {
  grid-column: 5; }

.signIn-2 {
  grid-column: 2/span 4;
  grid-row: 2; }

.buffer {
  height: 48px;
  width: 48px;
  margin: 0;
  padding: 0; }

.row2 {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(245, 245, 245, 0.95);
  transition: all 300ms ease-in-out; }

.row2Tab {
  display: inline-block;
  padding: 8px;
  border: 1px solid #C7C7CC;
  font-size: 14px;
  letter-spacing: .5px;
  color: rgba(0, 0, 0, 0.38);
  margin: 8px 4px;
  border-radius: 4px;
  cursor: pointer; }

.row2Tab p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.activeTab {
  color: #fff;
  font-weight: 400;
  background-color: #2196F3;
  border: 1px solid #2196F3; }

.row2Header {
  color: #2E578C;
  font-weight: medium;
  display: inline-block;
  margin: 8px 0 8px 24px;
  font-weight: 600;
  font-size: 16px; }

.dropdown {
  position: relative; }

.selectBox {
  display: flex;
  justify-content: flex-end; }

.selectBoxText {
  padding-right: 8px;
  line-height: 48px;
  font-size: 16px;
  color: #2196F3;
  margin: 0; }
  .selectBoxText:hover {
    cursor: pointer; }

.dropdownContainer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #fafafa;
  padding: 16px 0;
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%; }

.dropdownContainer-grid {
  border-radius: 4px;
  background: #fafafa;
  padding: 16px 0;
  margin-top: 4px;
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%; }
  .dropdownContainer-grid li {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
    line-height: 48px;
    padding-left: 16px;
    transition: all 250ms ease-in-out; }
    .dropdownContainer-grid li:hover {
      color: #fff;
      background-color: #2196F3;
      transition: all 250ms ease-in-out; }

.dropdownList {
  margin: 0;
  padding: 0; }

.dropdownLine {
  font-size: 16px;
  line-height: 48px;
  list-style: none;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
  padding: 0 16px; }
  .dropdownLine:hover {
    color: #FFFFFF;
    background: #2E578C;
    transition: all 300ms ease-in-out; }

.clear {
  font-size: 16px;
  line-height: 48px;
  list-style: none;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: italic; }
  .clear:hover {
    color: #FFFFFF;
    background: #2E578C;
    transition: all 300ms ease-in-out; }

.selectedDropdown {
  color: #2196F3;
  font-weight: 500; }

.form1Line {
  display: flex;
  justify-content: space-between;
  transition: all 300ms ease-in-out; }

.form1RightBlock {
  display: flex;
  margin-left: 24px;
  justify-content: space-between; }

.rowButtonLeft {
  display: flex;
  justify-content: flex-start;
  max-width: 460px; }

.dashboardSection {
  margin: 198px auto 0; }

.reportsContainer {
  background-color: #F0F0F0;
  padding-top: 40px; }

.reportColumn {
  min-width: 260px; }

.headerTabs {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }
  .headerTabs li {
    list-style: none;
    display: inline-block; }

.reportSelectHeader {
  background: rgba(0, 191, 131, 0.76);
  padding: 8px;
  display: block; }

.orangeHeaderTab {
  width: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: .65;
  margin: 0 16px; }

.orangeTabActive {
  opacity: 1; }

.iconDescriptor {
  color: #ffffff;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  line-height: 1.1;
  -webkit-margin-before: 8px;
  -webkit-margin-after: 0;
  letter-spacing: .8px; }

.subreportHeader {
  background: #8E8E93;
  padding: 8px; }

.subPanel-1 {
  display: none; }
  .subPanel-1 a {
    display: flex;
    align-items: center;
    padding: 8px; }

.subPanel-1-active {
  display: block; }

.subreportTabBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: .65;
  padding: 8px;
  margin: 8px 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.2; }

.subreportTabBoxRow1 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px; }

.subreportTabBoxRow2 {
  font-size: 10px;
  font-weight: 300;
  -webkit-margin-before: 8px;
  -webkit-margin-after: 0;
  letter-spacing: .8px;
  max-width: 108px; }

.tabBoxActive {
  opacity: 1;
  border: 1px solid #fff; }

.subPanel-2 {
  display: none; }
  .subPanel-2 a {
    display: flex;
    align-items: center;
    padding: 8px; }

.subPanel-2-active {
  display: block; }

.subreport2Tab {
  font-size: 12px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  opacity: .65;
  display: inline-block;
  padding: 8px; }

.subreport2Tab-active {
  opacity: 1;
  font-weight: 500; }

.subreport2TabExplanatory {
  font-size: 10px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  opacity: .65;
  display: inline-block;
  padding: 8px; }

.menuHeader {
  padding: 16px 8px 0 8px;
  color: #2E578C;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 14px; }

.choiceRowTab1 {
  text-transform: uppercase; }

.resReportYear1 {
  margin: auto 4px; }

.chartTitle {
  text-align: center;
  font-weight: 600; }

.monthSectionTitleBlack {
  font-size: 14px;
  text-align: center; }

.monthValueBlack {
  font-size: 28px;
  text-align: center;
  margin-bottom: 4px;
  line-height: 1; }

.captionCenteredGray {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  line-height: 1; }

footer {
  height: 64px;
  margin: 0; }

.sandboxDiv {
  margin: 80px 40px 0; }

.sandboxTopOnly {
  margin-top: 80px; }

.sandboxSpacer {
  margin: 0;
  height: 80px;
  width: 100%; }

.signIn-h1 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.618;
  text-align: center; }

.bluText {
  color: #2E578C;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: .6px; }

.dashboardText {
  color: #2196F3;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: .6px; }

.mainGrid {
  margin: 80px 24px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px; }

.mainGridFlex {
  display: flex;
  flex-basis: 31%; }

.signInDiv {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
  justify-content: center; }

.signInDivFlex {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .signInDivFlex input {
    margin-bottom: 24px; }

.spacer-24px {
  height: 24px; }

.signInDiv form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 24px;
  justify-self: center;
  max-width: 360px;
  grid-auto-rows: minmax(24px, auto); }

input {
  color: #000000;
  display: block;
  width: 100%;
  font-size: 16px;
  box-shadow: none;
  transition: all .3s ease-in-out;
  padding: 20px 2px 2px; }
  input:focus {
    outline: none;
    border-bottom: 3px solid #2196F3; }

.signInForm {
  background: transparent;
  min-width: 360px;
  border: 0;
  border-bottom: 1px solid #c8c8c8; }

.signInDiv button {
  width: 100%;
  justify-self: center; }

.signInDivFlex button {
  width: 100%;
  margin-top: 32px; }

.textOnly {
  background: transparent;
  color: #2196F3;
  font-size: 16px;
  font-weight: 400;
  justify-self: center;
  padding: 0;
  border: none;
  border-width: 0;
  border-style: none;
  border-color: none;
  display: block;
  max-width: 360px;
  height: 48px;
  border-radius: 4px;
  letter-spacing: 1px;
  cursor: pointer; }
  .textOnly:hover {
    border: solid 1px #2196F3;
    background: transparent; }

::-webkit-input-placeholder {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 300; }

:-moz-placeholder {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 300;
  opacity: 1; }

::-moz-placeholder {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 300;
  opacity: 1; }

:-ms-input-placeholder {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 300;
  opacity: 1; }

.error {
  min-width: 360px;
  border-radius: 4px;
  border: 2px solid #F95758;
  transition: all .3s ease-in-out; }

.errorMessage {
  color: #FF3B30;
  font-weight: 500;
  text-align: left;
  justify-self: start;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  line-height: 1.3;
  font-size: 16px;
  transition: all .3s ease-in-out; }

/*# sourceMappingURL=dataport-main.css.map */
