* {
	box-sizing: border-box;
}
html {
  font-size: 18px;
}

body {
  font-family: "Open+Sans", sans-serif;
  color: $body-text;
  line-height: 1.618;
  margin: 0;
	background-color: $background-primary;
}

main {
	margin: 0;
	transition: all 0.35s ease-in-out;
}
main.dashboard {
	background-color: #EEEEEE;
	min-height: 120px;
}
ul {
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
	-webkit-padding-start: 0;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
}
hr {
  border: none;
  border-bottom: solid 2px $gray-light;
	padding: 0;
	margin: 8px 0;
}
