
$base-text: #000000;
$body-text: rgba($base-text,.87);
$gray-dark: rgba($base-text,.54);
$gray-darkSolid: #c8c8c8;
$gray-light: rgba($base-text,.38);
$off-white: rgba(255,255,255,0.5);
$border: #C7C7CC;
$link: #2196F3;
$button: #2196F3;
$primary: #2E578C;
$secondary: #00BF83;
$background-primary: #fafafa;
$background-grayDark: #8E8E93;
$background-grayLight: #EEEEEE;





@import "baseStyles";
@import "opacities";
@import 'typography';
@import 'button';
@import "dashboard";
@import 'sidebar';
@import "header";
@import "dropdown";
@import "tablesAndForms";
@import "reports";
@import "sectionElements";
@import 'footer';
@import "sandboxStyles";
@import "signInForm";
@import "spotlight";
